<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GarageDive</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<script>

function myFunction() {
var text1= $("input[name=user]").val();
var text2= $("input[name=pass]").val();
  $.ajax({
              url: "/join",
              type: "POST",
              data: {text1:text1,
              text2:text2}

          }).done(function(response) {

            var html= "<br><br><br><p> <b> RESULT : <b><p>";

            response = response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"

                });
                html +="<br>";
                $(".show-data").append(html);
            });
};

  </script>
<body>
    <p>
        Taking input from web<br><br>

            Username<input type="text" id="1" name="user"><br><br>
            Password<input type="text" id="2" name="pass"><br><br>
            <button id="clicked" onclick="myFunction()">Submit</button>
        </p>
    <div class="show-data" >

    </div>
</body>
</html>