<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobSeeker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stuff.css') }}">
    <style>



    </style>
</head>
<body>
</body>
<ul>
    <li><a href="index">Home</a></li>
    <li style="float:right"><a class="active" href="login-screen">Login</a></li>
    <!--<li style="float:right"><a class="active" href="signup.html">Signup</a></li>-->
</ul>
<h1>GarageDive</h1>
<p>With GarageDive's cool new software, you are able <br>to buy, sell and
   scale your networth with ease. Selling old junk through a garage is behind us, as with GarageDive, you are able to buy and sell items with your community with a click of a button.</p>
</html>